* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Helvetica Neue, Roboto, -apple-system, BlinkMacSystemFont, Arial,
      sans-serif;
  }
  button {
    cursor: pointer;
  }
  /* HEADER */
  #header {
    background-color: #fff;
    width: 100%;
    height: 115px;
    max-height: 165px;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  #header-element {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  #header-element,
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }
  .header__icon {
    margin-left: 10px;
  }
  .header-icon__bar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: start;
    align-items: start;
    cursor: pointer;
  }
  .header__nav {
    display: none;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  .header__nav.show {
    display: block;
  }
  .header__nav-search input {
    width: 90%;
    height: 40px;
    border: 1px solid #ddd;
  }
  .header__nav .header__nav-item li {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    line-height: 2.3;
    cursor: pointer;
  }
  .header__nav-listItem {
    margin-bottom: 70px;
  }
  .header__nav .header__about-lp {
    line-height: 1.8;
    margin-bottom: 40px;
    padding-left: 10px;
    cursor: pointer;
  }
  .header__about-lp a{
    text-decoration: none;
    color: #767676;
  }
  .header__icon2 i {
    cursor: pointer;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  .header-icon__bar {
    display: inline;
  }
  .item__buy-button {
    position: absolute;
    top: 70%;
    left: 50%;
    border-radius: 4px;
    background-color: #209a88;
    color: #fff;
    width: 80%;
    min-height: 15%;
    border: none;
    padding: 10px;
    box-shadow: 0 10px 50px #000000a8;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
    font-size: small;
  }
  .item__img1:hover button {
    transition: 0.5s;
    opacity: 1;
    transform: translateX(-50%);
  }
  .header-logo {
    width: 20%;
    margin-right: 20px;
  }
  .header-logo img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    cursor: pointer;
  }
  #header .header__search {
    display: flex;
    margin-right: -120px;
    padding-top: 2px;
    align-items: center;
  }
  #header .header__search input {
    padding-left: 10px;
  }
  #header .header__icon i,
  #header .header__search i {
    padding: 10px 5px;
    cursor: pointer;
    font-size: 20px;
  }
  #header .header__search input {
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 40px;
  }
  .header__search a {
    text-decoration: none;
    color: inherit;
  }
  .header__icon-cart {
    position: relative;
    cursor: pointer;
  }
  #header .totalQuantity {
    position: absolute;
    top: 3px;
    right: 14px;
    font-size: x-small;
    background-color: red;
    width: 70%;
    height: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transform: translateX(20px);
  }
  /* NAVIGATION */
  #navigation {
    position: relative;
    margin: auto;
    width: 80%;
  }
  #navigation .nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 10px;
  }
  #navigation .nav .subnav__menu {
    position: absolute;
  }
  #navigation .nav li {
    position: relative;
    display: block;
  }
  .nav .subnav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }
  .subnav__menu h6 li {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
  }
  .item-trang-chu {
    position: relative;
  }
  #navigation .nav .list__item .subnav__menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  #navigation .nav .subnav {
    display: inline-block;
  }
  #navigation .nav li .subnav {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1000;
  }
  #navigation .nav .subnav li {
    display: none;
    list-style-type: none;
    font-size: 14px;
  }
  #navigation .nav li ul.subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    list-style: none;
    width: 200px;
    display: block;
    border-top: 1px solid #ddd;
  }
  #navigation .nav .list__item:hover .subnav__menu {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    justify-content: space-around;
    width: 1024px;
    background-color: #fff;
    color: #767676;
    z-index: 9999;
  }
  #navigation .nav li:hover .subnav {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
  }
  #navigation .nav li:hover li {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 26px;
    padding-bottom: 5px;
  }
  #navigation .nav a {
    text-decoration: none;
    font-size: 14px;
    color: #767676;
  }
  #navigation .nav i {
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    cursor: pointer;
  }
/* MAIN */

.image img{
    width: 80%;
    cursor: pointer;
}
.maso{
    font-size: 12px;
    line-height: 1;
    color: #777;
    text-transform: capitalize;
}
.name{
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.price-box{
    height: unset;
    padding-top: 10px;
    padding-bottom: 10px;
}
.price-box p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 1.7;
}
.price{
    font-size: 15px;
    color: #C69967;
    font-weight: 600;
}
.use-icon{
    font-size: 14px;
    color: #767676;
    margin-right: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.size select{
    font-size: 15px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.buy{
    display: flex;
}
.buy select{
    font-size: 15px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
}
.buy .addd{
    margin-left: 5px;
    margin-top: 2px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    border-radius: 40px;
    padding: 0 25px;
    background-color: black;
}
.addd:hover{
    background-color: #767676;
    color: #fff;
    cursor: pointer;
}
.checkOut {
    padding: 1.25rem;
}
.checkOut h6{
    font-size: 16px;
    /* cursor: pointer; */
    border-top: 1px solid #efefef;
    padding: 15px 20px 15px 0;
    position: relative;
    text-transform: uppercase;
}
.checkOut p{
    margin-bottom: 20px;
}
.faq{
    padding-left: 20px;
    margin-bottom: 10px;
}
.sub-info p{
    font-size: 14px;
    line-height: 1.5;
}
  /* FOOTER */
#footer {
    background-color: #fff;
    width: 100%;
    height: 370px;
    margin: 40px auto 0 auto;
    padding: 20px;
    display: block;
  }
  .sub-footer {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__logo img{
    width: 240px;
    height: 190px;
  }
  .footer__addr p {
    font-size: 14px;
    opacity: 0.7;
    margin: 2px 0 10px;
    margin-bottom: 8px;
  }
  .about-lp p {
    font-size: 14px;
    opacity: 0.7;
    margin: 0 0 8px;
    margin-bottom: 8px;
  }
  .add {
    margin: -6px 0 23px;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.5;
  }
  .about-lp__m {
    display: flex;
    cursor: pointer;
  }
  .about-lp__m p {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  /* CONNECT */
  .connect i {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    margin-right: 10px;
    color: #777777;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
  }
  .connect .connect-icon {
    display: flex;
  }
  .connect-icon .add__icon1:hover i {
    color: #fff;
    background-color: #000;
  }
  .connect-icon .add__icon2:hover i {
    color: #fff;
    background-color: #000;
  }
  .connect-icon .add__icon3:hover i {
    color: #fff;
    background-color: #000;
  }
  /* REGISTER */
  .register {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 140px;
  }
  .register input {
    width: 570px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  .register__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #powered {
    background-color: #ddd;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }