/* MOBILE & TABLET */
@media only screen and (min-width: 1024px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  
}
/* TABLET */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  #header{
    width: 100%;
    max-width: 960px;
    height: 8%;
  }
  .header__icon {
    display: none;
  }
  .header-logo {
    position: absolute;
    display: block;
    width: 30%;
    height: 10%;
    padding-bottom: 2rem;
  }
  .header-bar{
    width: 100%;
    position: relative;
    background-color: #fff;
  }
  .header__nav{
    position: absolute;
    font-size: 16px;
    color: #767676;
    padding-left: 15px;
  }
  .header-bar:hover .header-icon__bar{
    display: none;
  }
  .header-bar:hover .header__nav{
    display: block;
    width:100%;
    background-color: #fff;
  }
  .header__nav-search{
    margin-bottom: 50px;
  }
  .header-icon__bar {
    opacity: 1;
    visibility: visible;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-bottom: 5px;
  }
  .header__search i:not(.fa-bag-shopping),
  .header__search input {
    display: none;
  }
  .header__search {
    text-align: center; 
    width: 100%; 
    padding-left: 25rem;
    overflow: hidden; 
  }
  .header__seacrh .fa-bag-shopping {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-right: -3rem;
  }
  #navigation {
    display: none;
  }
  #content{
    width: 80%;
  }
  .item__img1 {
    position: relative;
    width: 100%;
    max-width: 150%;
    aspect-ratio: 1 / 1;
  }
  .subcontent__item .item__icon {
    margin-right: 1rem;
  }
  .item__img1 img {
    width: 99%;
  }
  .lady {
    display: none;
  }
  .tin-tuc img {
    width: 100%;
  }
  /* .tin-tuc .info1{
    margin-right: 3rem;
  } */
  .tin-tuc .info2 {
    margin-top: 20px;
  }
  #footer {
    display: block;
  }
  #powered {
    display: block;
  }
  #powered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
  }
}
/* MOBILE */
@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  #header{
    width: 100%;
    max-width: 720px;
    height: 8%;
  }
  #header-element{
    display: flex;
    align-items: center;
  }
  .header__icon {
    display: none;
  }
  .header-logo {
    position: absolute;
    display: block;
    width: 30%;
    height: 50%;
  }
  .header-bar{
    width: 60%;
    position: relative;
    background-color: #fff;
  }
  .header__nav{
    position: absolute;
    font-size: 16px;
    color: #767676;
    padding-left: 15px;
  }
  .header-bar:hover .header-icon__bar{
    display: none;
  }
  .header-bar:hover .header__nav{
    display: block;
    width:100%;
    background-color: #fff;
  }
  
  .header-icon__bar {
    opacity: 1;
    visibility: visible;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 1rem;
  }
  .header__search i:not(.fa-bag-shopping),
  .header__search input {
    display: none;
  }
  .header__search {
    text-align: center; 
    width: 100%; 
    overflow: hidden; 
    margin-right: -120px;
  }
  .header__seacrh .fa-bag-shopping {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 auto;
  }
  #navigation {
    display: none;
  }
  #content{
    width: 100%;
  }
  .subcontent__item .item__img1 img {
    width: 100%;
  }
  .item__img1 {
    position: relative;
    width: 100%;
    max-width: 150%;
    aspect-ratio: 1 / 1;
  }
  .subcontent__item .item__icon {
    margin-right: 1rem;
  }
  .lady {
    display: none;
  }
  .tin-tuc img,
  .tin-tuc__date,
  .tin-tuc__content {
    margin-left: 9rem;
  }
  .footer {
    display: block;
  }
  .sub-footer {
    margin-left: 5rem;
  }
  .sub-footer .footer__logo {
    margin-left: 5rem;
  }
  .sub-footer .about-lp {
    margin-top: 2rem;
  }
  .sub-footer .connect {
    margin-top: 2rem;
  }
  #powered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26rem;
  }
  
}
@media only screen and (max-width: 550px) {
  .subcontent__item .item__img1 img {
    width: 100%;
  }
  #header{
    width: 100%;
    max-width: 540px;
    height: 8%;
  }
  .header__icon {
    display: none;
  }
  .header-logo {
    display: block;
    width: 30%;
    height: 50%;
  }
  .header-icon__bar {
    opacity: 1;
    visibility: visible;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 12px;
  }
  .header__search i:not(.fa-bag-shopping),
  .header__search input {
    display: none;
  }
  .header__search {
    text-align: center; 
    width: 100%; 
    overflow: hidden; 
    margin-right: -120px;
  }
  .header__seacrh .fa-bag-shopping {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 auto;
  }
  #navigation {
    display: none;
  }
  #content{
    width: 100%;
  }
  .lady {
    display: none;
  }
  .item__img1 {
    position: relative;
    width: 99%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
  }
  .tin-tuc img,
  .tin-tuc__date,
  .tin-tuc__content {
    margin-left: 4rem;
  }
  .footer {
    display: block;
  }
  .sub-footer .footer__logo {
    margin-left: 2rem;
  }
  .sub-footer .about-lp {
    margin-top: 2rem;
  }
  .sub-footer .connect {
    margin-top: 2rem;
  }
  #powered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27rem;
  }
  .bonus{
    margin-left: 30%;
  }
}
