/* MOBILE & TABLET */
@media (max-width : 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
}
/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__icon{
        display: none;
    }
    .header-logo{
        width: 20%;
        height: 20%;
    }
    .header-icon__bar{
        opacity: 1;
        visibility: visible;
    }
    .header__seacrh i,input{
        opacity: 0;
        visibility: hidden;
    }
    .header__seacrh .fa-bag-shopping{
        opacity: 1;
        visibility: visible;
    }
    #navigation{
        display: none;
    }
}
/* MOBILE */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .header__icon{
        display: none;
    }
    .header-logo{
        width: 20%;
        height: 20%;
    }
    .header-icon__bar{
        opacity: 1;
        visibility: visible;
    }
    .header__seacrh i,input{
        opacity: 0;
        visibility: hidden;
    }
    .header__seacrh .fa-bag-shopping{
        opacity: 1;
        visibility: visible;
    }
    #navigation{
        display: none;
    }
}