*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica Neue, Roboto, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}
/* HEADER */
#header{
    background-color: #cdcbcb;
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0;
}
#header--element{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 0 0;
}
#header .header__icon{
    padding: 0px 15px;
}
.header--logo img{
    width: 395px;
    height: 35px;
    cursor: pointer;
}
#header .header__search{
    margin-right: -160px;
    padding-top: 2px;
}
#header .header__icon i,
#header .header__search i{
    padding: 10px 5px;
    cursor: pointer;
}
#header .header__search input{
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 40px;
}
.header__acounts{

}
/* NAVIGATION */
#navigation{
   position: relative;
}
#navigation .nav{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 10px;
}
#navigation .nav .subnav__menu{
    position:absolute;
}
#navigation .nav li{
    position: relative;
    display: block;
}
.nav .subnav__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.subnav__menu h6 li{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.nav .list__item .subnav__menu{
    display: none;
}
#navigation .nav .subnav{
    display: inline-block;
}
#navigation .nav .subnav li{
    display: none;
    list-style-type: none;
    font-size: 16px;
}
#navigation .nav li ul.subnav{
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #ccc;
    z-index: 1000; 
    list-style: none;
    width: 200px;
    display: block;
    
}
#navigation .nav .list__item:hover .subnav__menu{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    background-color: #ccc; 
    color: #767676;
    z-index: 9999;
}  

#navigation .nav li:hover li{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 26px;
    padding-bottom: 5px;
}  
#navigation .nav a{
    text-decoration: none;
    font-size: 16px;
    color: #767676;
}
#navigation .nav i{
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}
.item1, .item2,.item3, .item4, .item5, .item6{
    cursor: pointer;
}  
/* SILDER */
#slider{
    width: 100%;
    height: 630px;
    display: block;
    margin-top: 50px;
}
.slider--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#slider .slider__video{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2px;
}
/* MAIN CONTENT */
#content {
    background-color: #fff;
    width: 80%;
    margin: 40px auto 0 auto; 
    padding: 20px;
    display: block;
}

.subcontent {
    text-align: center;
    color: #000;
    margin-bottom: 40px;
    padding-top: 1PX;
}

.topic {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-transform: uppercase;    /* word-spacing: 3px; */
    letter-spacing: 2px;
    font-weight: 300;
}

.message {
    font-size: 14px;
    font-style: italic;
    opacity: 0.7;
}
.subcontent--listitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.subcontent--listitem .item__img{
    width: 25%; 
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.bonus{
    border: 1px solid #ddd;
    border-radius: 40px;
    font-size: 18px;
    padding: 5px 30px;
    margin-bottom: 40px;
}
.bonus:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.banner{
    margin-top: 10px;
}
.nhan-cuoi{
    display: flex;
    padding-top: 40px;
}
.nhan-cuoi .sub-nhan-cuoi{
    width: 50%;
    margin-top: 8px;
}
.lady{
    width: 100%;
    margin-left: -160px;
   display: flex;
}
.lady img{
    width: 300px;
    height: 490px;
    padding-right: 5px;
}
.ts-cao-cap{
    display: flex;
    justify-content: center;
}
.ts-cao-cap img{
    width: 590px;
    height: 590px;
    padding-left: 10px;
}
.ts-kc{
    display: flex;
    padding-top: 40px;
}
.ts-kc .sub-ts-kc{
    width: 50%;
    margin-top: 8px;
}
.ts-cz{
    display: flex;
    justify-content: space-evenly;
}
.ts-cz .sub-ts-cz{
    width: 50%;
}
.ts-da-mau{
    display: flex;
    justify-content: space-evenly;
}
.ts-da-mau .sub-ts-da-mau{
    width: 50%;
}
.ts-ngoc-trai{
    display: flex;
    justify-content: space-evenly;
}
.ts-ngoc-trai .sub-ts-ngoc-trai{
    width: 50%;
}
.ts-cuoi{
    display: flex;
    justify-content: space-evenly;
}
.ts-cuoi .sub-ts-cuoi{
    width: 50%;
}
.user{
    background-color: #ccc;
    width: 100%;
    height: 370px;
    margin-top: -20px;
}
.user .user__img{
    text-align: center;
}
.user .user__img img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.user > p{
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
    opacity: 0.6;
}
.user .vote{
    text-align: center;
    padding-top: 30px;
}
.tin-tuc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}
#footer{
    background-color: #ccc;
    width: 100%;
    height: 370px;
    margin: 40px auto 0 auto; 
    padding: 20px;
    display: block;
}
.footer__addr p{
    font-size: 14px;
    opacity: 0.7;
}