* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica Neue, Roboto, -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
}
button {
  cursor: pointer;
}
/* HEADER */
#header {
  background-color: #fff;
  width: 100%;
  height: 115px;
  max-height: 165px;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#header-element {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
#header-element,
.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.header__icon {
  margin-left: 10px;
}
.header-icon__bar {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: start;
  align-items: start;
  cursor: pointer;
}
.header__nav {
  height: 900px;
  display: none;
  transition: all 0.3s ease;
  z-index: 1000;
}
.header__nav.show {
  display: block;
}
.header__nav-search input {
  width: 90%;
  height: 40px;
  border: 1px solid #ddd;
}
.header__nav .header__nav-item li {
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  line-height: 2.3;
  cursor: pointer;
}
.header__nav-listItem {
  margin-bottom: 70px;
}
.header__nav .header__about-lp {
  line-height: 1.8;
  margin-bottom: 40px;
  padding-left: 10px;
  cursor: pointer;
}
.header__about-lp a {
  text-decoration: none;
  color: #767676;
}
.header__icon2 i {
  cursor: pointer;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 55px;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-icon__bar {
  display: inline;
}
.item__buy-button {
  position: absolute;
  top: 70%;
  left: 50%;
  border-radius: 4px;
  background-color: #209a88;
  color: #fff;
  width: 80%;
  min-height: 15%;
  border: none;
  padding: 10px;
  box-shadow: 0 10px 50px #000000a8;
  cursor: pointer;
  transform: translateX(-50%) translateY(100px);
  opacity: 0;
  font-size: small;
}
.item__img1:hover button {
  transition: 0.5s;
  opacity: 1;
  transform: translateX(-50%);
}
.header-logo {
  width: 20%;
}
.header-logo img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  cursor: pointer;
}
#header .header__search {
  display: flex;
  padding-top: 2px;
  align-items: center;
}
#header .header__search input {
  padding-left: 10px;
}
#header .header__icon i,
#header .header__search i {
  padding: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}
#header .header__search input {
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.header__search a {
  text-decoration: none;
  color: inherit;
}
.header__icon-cart {
  position: relative;
  cursor: pointer;
}
#header .totalQuantity {
  position: absolute;
  top: 3px;
  right: 14px;
  font-size: x-small;
  background-color: red;
  width: 70%;
  height: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transform: translateX(20px);
}
/* NAVIGATION */
#navigation {
  position: relative;
  margin: auto;
  width: 80%;
}
#navigation .nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 10px;
}
#navigation .nav .subnav__menu {
  position: absolute;
}
#navigation .nav li {
  position: relative;
  display: block;
}
.nav .subnav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}
.subnav__menu h6 li {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.item-trang-chu {
  position: relative;
}
#navigation .nav .list__item .subnav__menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#navigation .nav .subnav {
  display: inline-block;
}
#navigation .nav li .subnav {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
}
#navigation .nav .subnav li {
  display: none;
  list-style-type: none;
  font-size: 14px;
}
#navigation .nav li ul.subnav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  list-style: none;
  width: 200px;
  display: block;
  border-top: 1px solid #ddd;
}
#navigation .nav .list__item:hover .subnav__menu {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  justify-content: space-around;
  width: 1024px;
  background-color: #fff;
  color: #767676;
  z-index: 9999;
}
#navigation .nav li:hover .subnav {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
#navigation .nav li:hover li {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin-top: 26px;
  padding-bottom: 5px;
}
#navigation .nav a {
  text-decoration: none;
  font-size: 14px;
  color: #767676;
}
#navigation .nav i {
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  cursor: pointer;
}
/* CART TAB */
.cartTab {
  z-index: 9999;
  background-color: #353432;
  color: #eee;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 80px 50px;
}
.nameCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total .row {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.total .row .total_Price,
.total_Quantity {
  font-weight: 200;
}
.cartTab h2 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 15px;
  line-height: 30px;
}
.cartTab .listCart .item:nth-child(2n) {
  background: #494846;
}
.cartTab .listCart img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
.cartTab .listCart .item .name {
  font-weight: bold;
}
.cartTab .listCart {
  overflow: auto;
}
.cartTab .listCart .item .quantity {
  display: flex;
  justify-content: end;
  align-items: center;
}
.cartTab .listCart .item span {
  display: block;
  width: 50px;
  text-align: center;
  margin: 5px;
}
.cartTab .item button {
  background-color: #209a88;
  border-radius: 3px;
  border: none;
  color: white;
  text-align: center;
  width: 40px;
  height: auto;
  font-weight: bold;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.cartTab .nameCart button {
  background-color: #52b788;
  color: black;
  text-align: center;
  font-size: medium;
  padding: 7px 15px;
  border-radius: 5px;
  margin-right: 15px;
  border: none;
  font-family: inherit;
  font-weight: 500;
}
.cartTab .nameCart button:hover {
  background-color: #40916c;
}
.cartTab .btn button {
  background-color: #52b788;
  border: none;
  font-family: inherit;
  font-weight: 500;
}
.cartTab .btn .close {
  background-color: #40916c;
}
.cartTab .listCart::-webkit-scrollbar {
  width: 0;
}
.cartTab {
  right: -400px;
  transition: 0.5s;
}
body.activeTabCart .cartTab {
  right: 0;
}
body.activeTabCart .container {
  transform: translateX(-100px);
}
/* SILDER */
.slider {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}
.slider img {
  width: 100%;
  display: none;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slides img {
  width: 100%;
  height: 630px;
  object-fit: cover;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  margin-left: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.slider__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
/* MAIN CONTENT */
#content {
  background-color: #fff;
  width: 80%;
  margin: 40px auto 0 auto;
  padding: 20px;
  display: block;
}

.subcontent {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  padding-top: 1px;
}

.topic {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.message {
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
}
.subcontent__item {
  width: 290px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.item__img1 {
  position: relative;
  width: 99%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.item__img1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.item__id,
.item__name,
.item__price {
  margin-top: 10px;
  z-index: 1;
  position: relative;
}
.subcontent-listitem .item__img {
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  object-fit: cover;
}
.item__img2 {
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
/* ICON */
.item__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  display: block;
  font-size: 18px;
  line-height: 42px;
  color: #767676;
  margin-top: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
/* INFOR */
.item__id {
  font-size: 12px;
  line-height: 1;
  color: #777;
  text-transform: capitalize;
}
.item__name {
  font-size: 14px;
  color: #767676;
  text-transform: capitalize;
}
.item__price {
  font-size: 12px;
  color: #c69967;
  font-weight: 600;
}
.bonus {
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 40px;
  font-size: 14px;
  padding: 5px 30px;
  margin-bottom: 40px;
  margin-left: 45%;
}
.bonus:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.banner img {
  width: 100%;
  margin-top: 10px;
  object-fit: cover;
}
.nhan-cuoi {
  display: flex;
}
.sub-nhan-cuoi .item__img1 {
  display: inline-block;
}
.sub-nhan-cuoi {
  width: 100%;
}
.nhan-cuoi-video video {
  /* left: 0; */
  width: 100%;
  height: 25%px;
}
/* HOVER ITEMS */
.item__img1:hover .item__img-1 {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.item__img1:hover .item__img2 {
  opacity: 1;
  visibility: visible;
  max-height: 580px;
}
/* LADY */
.lady {
  width: 100%;
  margin-left: -130px;
  display: flex;
}
.lady img {
  width: 290px;
  height: 490px;
  padding-right: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.lady__1:hover img {
  filter: grayscale(0);
}
.lady__2:hover img {
  filter: grayscale(0);
}
.lady__3:hover img {
  filter: grayscale(0);
}
.lady__4:hover img {
  filter: grayscale(0);
}
.lady__5:hover img {
  filter: grayscale(0);
}
/* CAC LOAI TRANG SUC */

.banner__ts img {
  width: 580px;
  height: 573px;
}
.ts-cao-cao video {
  width: 590px;
  height: 25%;
}
.ts-cao-cap img {
  width: 590px;
  height: 25%;
  margin-top: 5px;
}
.about-ts {
  display: inline-block;
}
.about-ts .item__img1 {
  display: inline-flex;
}
.ts-da-mau {
  display: flex;
  margin: 0;
}
.sub-ts-da-mau .row {
  display: flex;
  flex-wrap: wrap;
}
.banner__ts img {
  width: 100%;
  height: 100%;
}
.sub-da-mau .item__img1 {
  display: inline-block;
}
.ts-ngoc-trai {
  display: flex;
}
.sub-ngoc-trai .item__img1 {
  display: inline-block;
}
.ts-cuoi {
  display: flex;
}
.sub-cuoi .item__img1 {
  display: inline-block;
}
/* KHACH HANG */
.user {
  background-color: #fff;
  width: 100%;
  height: 370px;
  margin-top: -20px;
}
.user .user__img {
  text-align: center;
}
.user .user__img img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.user > p {
  text-align: center;
  padding-top: 40px;
  font-size: 15px;
  opacity: 0.6;
}
.user .vote {
  text-align: center;
  padding-top: 30px;
}
.tin-tuc {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  /* margin-top: 10px; */
  width: 100%;
}
.infor {
  cursor: pointer;
  width: 100%;
  display: none;
  overflow: hidden;
}
.infor.active {
  display: block;
}
.tin-tuc img {
  width: 100%;
  height: auto;
}
.tin-tuc button {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  margin-left: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
}
.tin-tuc__content {
  font-size: 16px;
  color: #767676;
  max-width: 100%;
  overflow: hidden;
}
/* FOOTER */
#footer {
  background-color: #fff;
  width: 100%;
  height: 370px;
  margin: 40px auto 0 auto;
  padding: 20px;
  display: block;
}
.sub-footer {
  display: flex;
  justify-content: space-evenly;
}
.footer__logo img {
  width: 240px;
  height: 190px;
}
.footer__addr p {
  font-size: 14px;
  opacity: 0.7;
  margin: 2px 0 10px;
  margin-bottom: 8px;
}
.about-lp p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0 0 8px;
  margin-bottom: 8px;
}
.add {
  margin: -6px 0 23px;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
}
.about-lp__m {
  display: flex;
  cursor: pointer;
}
.about-lp__m p {
  margin-bottom: 8px;
  margin-right: 8px;
}
/* CONNECT */
.connect i {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  margin-right: 10px;
  color: #777777;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dedede;
  cursor: pointer;
}
.connect .connect-icon {
  display: flex;
}
.connect-icon .add__icon1:hover i {
  color: #fff;
  background-color: #000;
}
.connect-icon .add__icon2:hover i {
  color: #fff;
  background-color: #000;
}
.connect-icon .add__icon3:hover i {
  color: #fff;
  background-color: #000;
}
/* REGISTER */
.register {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  margin-left: 140px;
}
.register input {
  width: 570px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}
.register__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#powered {
  background-color: #ddd;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
